<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Dashboard</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            color: #F5F5F5;
            background: #1B1F23 url('<%= user.wallpaper %>')  no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        .navbar {
            background: rgba(0, 0, 0, 0.6);
            padding: 1px;
            text-align: center;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            color: limegreen;
        }

        .content {
            padding: 20px;
            margin: 0 auto;
            max-width: 1200px;
        }

        .cards-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 20px;
        }

        .cards-container2 {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 0px;
        }

        .card {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 calc(25% - 20px);
    min-width: 250px;
    text-align: left;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
  
}


       

        .card i {
            font-size: 2em;
            margin-right: 15px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.9);
            border-radius: 50%;
            color: #31c71a;
        }

        .card h3 {
            margin: 0;
            font-size: 1.2em;
        }

        .card p {
            margin: 5px 0 0;
            font-size: 1em;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.6);
            color: #F5F5F5;
            text-align: center;
            box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
        }

        .footer-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 7px;
        }

        .round-button {
            border: none;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin: 10px;
            background: rgba(0, 0, 0, 0.9);
            color: #31c71a;
            font-size: 16px;
            cursor: pointer;
            transition: transform 0.2s ease;
        }

        .round-button:hover {
            transform: scale(1.1);
        }

        .home-button {
            background-color: #58A6FF;
            position: relative;
            top: -25px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
            transition: transform 0.2s ease;
        }

        .home-button:hover {
            transform: scale(1.1) translateY(-5px);
        }

        .txt {
            background: rgba(0, 0, 0, 0.6);
            padding: 10px;
            border-radius: 10px;
        }

        .txt img {
            width: 100%;
            border-radius: 8px;
        }

        /* Estilos do menu lateral */
        .sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            top: 0;
            left: -250px;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.3s;
            padding-top: 60px;
        }

        .sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: #F5F5F5;
            display: block;
            transition: 0.3s;
        }

        .sidebar a:hover {
            background-color: #575757;
        }

        .sidebar .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: #111;
            color: white;
            padding: 10px 15px;
            border: none;
        }

        .openbtn:hover {
            background-color: #444;
        }
        .painel {
          color: limegreen;
        }
    </style>
</head>
<body>

    <div class="navbar">
        <h2>Trevo Community</h2>
    </div>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <hr>
        <a href="#">Home</a>
        <a href="#">Perfil</a>
        <a href="#">Configurações</a>
        <a href="#">Ajuda</a>
        <a href="#">Sair</a>
    </div>

    <div class="content">
        <h1 class="painel">PAINEL:</h1>
        <div class="cards-container">
        <% if (!user.isBaned===true) { %>

          <% if (!user.isPremium===true) { %>
              <!-- NICK DO USUARIO -->
            <div class="card">
                <i class="fas fa-user"></i>
                <div>
                    <h3>Usuário</h3>
                    <p>@<%= user.username %></p>
                </div>
            </div>
            <% } else { %>
              <!--usuario premium-->
            <div class="card">
              <i class="fa fa-user-plus"></i>
            <div>
              <h3>Usuários Plus</h3>
               <p>@<%= user.username %> Agora você pode personalizar sua key!</p>
            </div>
            </div>
              <% } %>

                <% } else { %>
              <!--  BLOQUEADO-->
            <div class="card">
                <i class="fas fa-lock"></i>
                <div>
                    <h3>Conta Bloqueada</h3>
                    <p>Você esta impossibilitado(a) de utilizar o site no momento</p>
                </div>
            </div>
              <!-- SALDO -->
            <div class="card">
                <i class="fas fa-wallet"></i>
                <div>
                    <h3>Saldo</h3>
                    <p>♧ 1,200.00</p>
                </div>
            </div>
              <!-- ADM -->
            <div class="card">
                <i class="fas fa-crown"></i>
                <div>
                    <h3>Administração</h3>
                    <p>Use a nova opção que apareceu no menu lateral! </p>
                </div>
            </div>
              <!-- KEY -->
            <div class="card">
               <i class="fas fa-key"></i>
               <div>
                 <h3>Apikey/Chave</h3>
                 <p>Veja seus prêmios acumulados!</p>
               </div>
            </div>
              <!--Novidades-->
            <div class="card">
                <i class="fas fa-bullhorn"></i>
                <div>
                    <h3>Novidades</h3>
                    <p>Confira as últimas atualizações!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="cards-container2">
            <div class="txt">
                <img src="https://telegra.ph/file/6cfe04dbe1c7adba875b5.jpg" alt="foto" />
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        <div class="footer-buttons">
            <button class="round-button"><i class="fas fa-bars"onclick="openNav()" ></i></button>
            <button class="round-button"><i class="fas fa-heart"></i></button>
            <button class="round-button"><i class="fas fa-home"></i></button>
            <button class="round-button"><i class="fas fa-envelope"></i></button>
            <button class="round-button"><i class="fas fa-cog"></i></button>
        </div>
    </footer>

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.left = "0";
        }

        function closeNav() {
            document.getElementById("mySidebar").style.left = "-250px";
        }
    </script>

</body>
</html>
