<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="3;url=/">
    <title>Manga Deletado</title>
</head>
<body>
    <h1>Manga Deletado com Sucesso</h1>
    <p>Você será redirecionado para a página inicial em alguns segundos...</p>
</body>
</html>
