<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Chapter</title>
</head>
<body>
    <h1>Delete Chapter</h1>
    <p>Tem certeza que deseja deletar este capítulo?</p>
    <form action="/deleteChapter/<%= manga._id %>/<%= chapterIndex %>" method="POST">
        <button type="submit">Deletar</button>
    </form>
</body>
</html>
