    <footer>
        <div class="footer-buttons">
            <button class="round-button"><i class="fas fa-bars"onclick="openNav()" ></i></button>
            
            <button class="round-button">
            <a href="/chat-global">
            <i class="fas fa-envelope"></i>
            </a>
            </button>
            
            <button class="round-button">
            <a href="/">
            <i class="fas fa-home"></i>
            </a>
            </button>
            
            <button class="round-button">
            <a href="/foto">
            <i class="fa fa-cloud-upload"></i>
            </a>
            </button>
            
            <button class="round-button">
            <a href="/myperfil">
            <i class="fas fa-cog"></i>
            </a>
            </button>
        </div>
    </footer>