    <div class="navbar">
        <h2>Trevo Community</h2>
    </div>


    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <hr>
        <details class="apis">
        <summary>Download</summary>
        <a href="#">Play MP3</a>
        <a href="#">Play MP4</a>
        <a href="#">Ytmp3</a>
        <a href="#">Ytmp4</a>
        </details>
        <hr>
        <% if (user.isAdm) { %>
        <a href="/admin">Administração</a>
        <% } else { %>
        <% } %>
        <a href="#">Ajuda</a>
        <a href="/login">Sair</a>

    </div>